<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - System Info</title>
    <style>
        #click {
            color: #1D9AF2;
            background-color: #292D3E;
            border: 1px solid #1D9AF2;
            border-radius: 4px;
            padding: 15px 18px 30px 15px;
            cursor: pointer;
            height: 32px;
            font-size: 14px;
            box-shadow: 0 0 4px #999;
            background-position: center;
            transition: background 0.8s;
            top: 40%;
            left: 45%;
            position: absolute;
            width: 150px;
            height: 150px;
            font-size: 25px;
        }

            #click:hover {
                background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
                color: white;
            }

            #click:active {
                background-color: #292d3e;
                background-size: 100%;
                transition: background 0s;
            }

        @@keyframes swing {
            15% {
                transform: translateX(5px);
            }

            30% {
                transform: translateX(-5px);
            }

            50% {
                transform: translateX(3px);
            }

            65% {
                transform: translateX(-3px);
            }

            80% {
                transform: translateX(2px);
            }

            100% {
                transform: translateX(0);
            }
        }


        #spin {
            height: 40px;
            width: 40px;
            background: #c6f2ef;
            border-radius: 50%;
            border-top: 2px solid #1D9AF2;
            border-right: 2px solid transparent;
            border-bottom: none;
            border-left: none;
            animation: spinner5 700ms linear infinite;
            top: 40%;
            left: 45%;
            position: absolute;
            width: 150px;
            height: 150px;
        }

        #load {
            top: 60%;
            left: 50%;
            position: absolute;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
        }

        @@keyframes spinner5 {
            to {
                transform: rotate(360deg);
            }
        }

        .blue {
            color: dodgerblue;
            font-size: 20px;
            font-weight: bold;
        }

        input {
            width: 120px;
        }

        #high {
            height: 60px;
        }
    </style>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" runat="server" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" runat="server" />
    <script>
        function display() {

            var moreText = document.getElementById("display");
            var button = document.getElementById('click');
            var spin = document.getElementById('spin');
            var load = document.getElementById('load');
            var form = document.getElementById('firstdiv');

            //Form values
            var name = document.getElementById('name').value;
            var doneby = document.getElementById('doneby').value;
            var company = document.getElementById('company').value;
            var position = document.getElementById('position').value;



            button.style.display = "none";
            spin.style.display = "inline";
            load.innerHTML = "Auditing ...";
            setTimeout(function () {
                moreText.style.display = "inline";
                spin.style.display = "none";
                load.style.display = "none";
                form.style.display = "none";

                document.getElementById('displayname').innerHTML += name;
                document.getElementById('displaydoneby').innerHTML += doneby;
                document.getElementById('displaycompany').innerHTML += company;
                document.getElementById('displayposition').innerHTML += position;
            }, 5000);
        }
/**/</script>
</head>
<body>

    <div class="container" id="firstdiv">
        <form id="form1">
            <br /> <br />
            Name of User: <input type="text" id="name" name="name" style="margin-left:15px; width:150px;" />
            <br /> <br />
            Audit done by: <input type="text" id="doneby" name="auditdoneby" style="margin-left:15px; width:150px;" />
            <br /><br />
            Company name: <input type="text" id="company" name="compname" style="margin-left:5px; width:150px;" />
            <br /><br />
            Position: <input type="text" id="position" name="position" style="margin-left:60px; width:150px;" />
            <br /> <br />
        </form> <br />
    </div>

    <button onclick="display()" id="click">Start Audit</button>
    <button id="spin" style="display:none;"></button>
    <p id="load"></p>
    <div id="display" style="display:none;">

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 blue" id="high">
                <div class="container">
                    <a class="navbar-dark" asp-area="" asp-page="/Index" style="margin-right:15px;">System Info</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="navbar-dark" asp-area="" asp-page="/Index" style="margin-right:15px;">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-dark">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
        <br />
            <h4> User info: </h4>
            <br />
            <p id="displayname">Name of User: </p>
            <p id="displaydoneby">Audit done by: </p>
            <p id="displaycompany">Company name: </p>
            <p id="displayposition">Position: </p>
        </div> <br /> <hr />

        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - Audit - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
            </script>
        </environment>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </div>
    @RenderSection("Scripts", required: false)

</body>
</html>
