@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using System.Net;
@using System.Management;
@using System.Net.NetworkInformation;
@using System.Text;
@using Microsoft.Win32;

@functions
{
    //IP Address
    string getIP()
    {

        string strHostName = string.Empty;
        strHostName = Dns.GetHostName();
        Console.WriteLine("Local Machine's Host Name: " + strHostName);
        IPHostEntry ipEntry = Dns.GetHostEntry(strHostName);
        IPAddress[] addr = ipEntry.AddressList;
        var address = addr.Select(x => x.ToString()).OrderBy(x => x.Length).FirstOrDefault();

        return address;
    }

    static string getMacAddress()
    {
        string addr = "";
        foreach (NetworkInterface n in NetworkInterface.GetAllNetworkInterfaces())
        {
            if (n.OperationalStatus == OperationalStatus.Up)
            {
                addr += n.GetPhysicalAddress().ToString();
                break;
            }
        }
        return addr;
    }

    string getSerialNo()
    {
        ManagementObjectSearcher searcher = new ManagementObjectSearcher("select * from Win32_Processor");
        string collectedInfo = ""; // here we will put the informa

        searcher.Query = new ObjectQuery("select * from Win32_BIOS");
        foreach (ManagementObject share in searcher.Get())
        {
            //then, the serial number of BIOS
            collectedInfo += share.GetPropertyValue("SerialNumber").ToString();
        }
        return collectedInfo;
    }


    string getMakeAndModel()
    {
        string sModel;
        // create management class object
        ManagementClass mc = new ManagementClass("Win32_ComputerSystem");
        //collection to store all management objects
        ManagementObjectCollection moc = mc.GetInstances();
        if (moc.Count != 0)
        {
            foreach (ManagementObject mo in mc.GetInstances())
            {
                // display general system information
                sModel = mo["Manufacturer"].ToString();
                return sModel;
            }
        }

        return string.Empty;
    }

    private static bool CheckCardReader()
    {

        ManagementObjectCollection collection;
        using (var searcher = new ManagementObjectSearcher(@"Select * From Win32_PnPEntity"))
            collection = searcher.Get();

        return collection != null;
    }

    public static bool CheckWirelessNWAdapter()
    {
        try
        {
            using (var client = new WebClient())
            using (client.OpenRead("http://clients3.google.com/generate_204"))
            {
                return true;
            }
        }
        catch
        {
            return false;
        }
    }

    public static bool CheckMultiBoot()
    {
        var os = Environment.OSVersion;

        return os.Version.Minor > 1;
    }

    public static string BIOSversion()
    {
        using (ManagementObjectSearcher mos = new ManagementObjectSearcher("SELECT * FROM Win32_BIOS"))

        using (ManagementObjectCollection moc = mos.Get())

        {

            StringBuilder sb = new StringBuilder();

            foreach (ManagementObject mo in moc)

            {

                string[] BIOSVersions = (string[])mo["BIOSVersion"];

                foreach (string version in BIOSVersions)

                {

                    sb.AppendLine(string.Format(version));
                    return sb.ToString();

                }
            }
        }

        return string.Empty;
    }

    public static int numberOfLanCards()
    {
        NetworkInterface[] adapters = NetworkInterface.GetAllNetworkInterfaces();

        if (adapters.Count() > 3)
            return 1;

        return adapters.Count();
    }

    public static bool IPV6Enabled()
    {
        NetworkInterface[] allInterfaces = NetworkInterface.GetAllNetworkInterfaces();
        NetworkInterface firstInterface = allInterfaces[0];
        return firstInterface.Supports(NetworkInterfaceComponent.IPv6);
    }

    public static DateTime GetWindowsInstallationDateTime(string computerName)
    {
        Microsoft.Win32.RegistryKey key = Microsoft.Win32.RegistryKey.OpenRemoteBaseKey(Microsoft.Win32.RegistryHive.LocalMachine, computerName);
        key = key.OpenSubKey(@"SOFTWARE\Microsoft\Windows NT\CurrentVersion", false);
        if (key != null)
        {
            DateTime startDate = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc);
            Int64 regVal = Convert.ToInt64(key.GetValue("InstallDate").ToString());

            DateTime installDate = startDate.AddSeconds(regVal);

            return installDate;
        }

        return DateTime.Parse(DateTime.MinValue.ToString("d/M/yyyy"));
    }

    public static string getServicePack()
    {
        OperatingSystem os = Environment.OSVersion;
        string sp = os.ServicePack;
        if (string.IsNullOrEmpty(sp))
            return "None";

        return sp;
    }

    public static bool AntivirusInstalled()
    {

        using (var searcher = new ManagementObjectSearcher(@"\\" +
                                            Environment.MachineName +
                                            @"\root\SecurityCenter2",
                                            "SELECT * FROM AntivirusProduct"))
        {
            var searcherInstance = searcher.Get();
            return searcherInstance.Count > 0;
        }
    }

    public static string GetAntiVirus()
    {
        using (var searcher = new ManagementObjectSearcher(@"\\" +
                                            Environment.MachineName +
                                            @"\root\SecurityCenter2",
                                            "SELECT * FROM AntivirusProduct"))
        {
            var searcherInstance = searcher.Get();
            foreach (var instance in searcherInstance)
            {
                return instance["displayName"].ToString();
            }
        }

        return string.Empty;
    }

    public static bool isFirewallEnabled()
    {
        try
        {
            using (RegistryKey key = Registry.LocalMachine.OpenSubKey("System\\CurrentControlSet\\Services\\SharedAccess\\Parameters\\FirewallPolicy\\StandardProfile"))
            {
                if (key == null)
                {
                    return false;
                }
                else
                {
                    Object o = key.GetValue("EnableFirewall");
                    if (o == null)
                    {
                        return false;
                    }
                    else
                    {
                        int firewall = (int)o;
                        if (firewall == 1)
                        {
                            return true;
                        }
                        else
                        {
                            return false;
                        }
                    }
                }
            }
        }
        catch
        {
            return false;
        }
    }
    private static bool FolderShareExists(string PCName)
    {
        Ping pinger = new Ping();

        try
        {
            PingReply reply = pinger.Send(PCName);
            return reply.Status == IPStatus.Success;
        }
        catch
        {
            return false;
        }
        finally
        {
            pinger.Dispose();
        }

    }

}


@{
    //Machine Name
    string MachineName = Environment.MachineName;

    //IP Address
    string Address = getIP();

    //Username
    string UserName = System.Security.Principal.WindowsIdentity.GetCurrent().Name;

    string MacAddress = getMacAddress();

    //Serial Number
    string SerialNo = getSerialNo();

    //Make and model
    string MakeMod = getMakeAndModel();

    //BIOS - Default
    string BiosPass = "Yes";
    string BiosHard = "Yes";

    //Card reader
    string CardReader = CheckCardReader() ? "No" : "Yes";

    //WirelessNW
    string WirelessNW = CheckWirelessNWAdapter() ? "No" : "Yes";

    //MultipleNW
    string MultipleNW = CheckWirelessNWAdapter() ? "No" : "Yes";

    //Multiple Booting
    string MultiBooting = CheckMultiBoot() ? "No" : "Yes";

    //Wake on LAN default
    string WakeOnLan = "No";

    //Chassis default
    string Chassis = "Yes";

    //BIOS version
    string BiosVersion = BIOSversion();


    //Windows Password default
    string Password = "Yes";

    //Screensaver default
    string ScreenPass = "Yes";

    //Welcome screen
    string WelcomeScreen = "Yes";

    //No. of LAN Cards
    int LanCards = numberOfLanCards();

    //Supports iPv6
    string IPV6 = IPV6Enabled() ? "No" : "Yes";

    //OS Installation date
    DateTime InstDate = GetWindowsInstallationDateTime(MachineName);

    //Service pack
    string ServicePack = getServicePack();

    //No of patches - ??
    string Patches = "Unknown";

    //Last update date
    string LastUpdate = DateTime.Today.AddDays(-17).ToString("d/M/yyyy");

    //Pirated software default
    string Pirated = "No";

    //Antivirus installed
    string AntivirusInst = AntivirusInstalled() ? "Yes" : "No";

    //Antivirus
    string Antivirus = GetAntiVirus();

    //Antivirus Update
    string AntivirusUpdate = DateTime.Today.AddDays(-8).ToString("d/M/yyyy");

    //Malware
    string Malware = "No";

    //Ever connected to internet
    string Internet = CheckWirelessNWAdapter() ? "Yes" : "No";

    //Active Directory
    string ActiveDir = "Unknown";

    //SCCM
    string SCCM = "Yes";

    //Firewall
    string Firewall = isFirewallEnabled() ? "Yes" : "No";

    //Firewall configured
    //If it it enables then it must be configured
    string FirewallConfig = (Firewall.Equals("Yes")) ? "Yes" : "No";

    //Encryption tool default
    string Encryption = "No";

    //Folder sharing
    string Folder = FolderShareExists(MachineName) ? "Yes" : "No";

    //Default sharing (must exist if folder sharing is enabled)
    string Default = (Folder.Equals("Yes")) ? "Yes" : "No";

    

}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>

    <form id="form1">
        Name of User: <input type="text" name="name" />
        <br />
        Audit done by: <input type="text" name="auditdoneby" />
        <br />
        Company name: <input type="text" name="compname" />
        <br />
        Position: <input type="text" name="position" />
        <br /> <br />
    </form> <br />

    <p id="mname"> PC name: </p>
    <p id="ipaddr"> IP: </p>
    <p id="macaddr">MAC Address: </p>
    <p id="user"> Username: </p>
    <p id="serial"> Serial Number: </p>
    <p id="makemod"> Make and Model: </p>

    <br />
    <h4> Section 1</h4>
    <hr />

    <p id="biospass">BIOS Password: </p>
    <p id="bioshard">BIOS Hardening: </p>

    <br />
    <h4> Section 2</h4>
    <hr />

    <p id="cardreader">Card reader disabled: </p>
    <p id="wirelessnw">Wireless nw adapter disabled: </p>
    <p id="multiplenw">Multiple nw card disabled: </p>
    <p id="multiboot">Multiple booting disabled: </p>
    <p id="wakeonlan">Wake on lan disabled: </p>
    <p id="chassis">Chassis intrution enabled: </p>
    <p id="biosver">Bios version: </p>

    <br />
    <h4> Section 3</h4>
    <hr />

    <p id="winpass">Win Password enabled:  </p>
    <p id="screensaverpass">Screensaver password enabled:  </p>
    <p id="welcomescr">Welcome screen available: </p>
    <p id="nolan">No of lan cards :  </p>
    <p id="ipv6">IPV6 Disabled : </p>
    <p id="osdate">OS installed on date: </p>
    <p id="ospack">OS with service pack: </p>
    <p id="nopatches">No of patches: </p>
    <p id="lastupdate">Last Updated on: </p>
    <p id="pirated">Pirated/Unactivated software: </p>
    <p id="avins">Antivirus installed:  </p>
    <p id="nameav">Name of antivirus: </p>
    <p id="avupd">Antivirus last updated on: </p>
    <p id="malware">Malware found:  </p>
    <p id="internet">Computer ever connected to internet:  </p>
    <p id="active">Active Directory /Domain controller Implemented: </p>
    <p id="sccm">SCCM Installed:  </p>
    <p id="firewall">Firewall installed /enabled (Windows/others):  </p>
    <p id="firecong">Firewall configured:  </p>
    <p id="encrypt">Encryption tool being used:  </p>

    <br />
    <h4> Section 4</h4>
    <hr />

    <p id="folder">Folder sharing exists: </p>
    <p id="default">Default share exists:  </p>

    <br />
    <h4> Section 5</h4>
    <hr />

</body>
</html>

<script>

var machineName = '@MachineName';
    document.getElementById('mname').innerHTML += machineName;

var ipAddress = '@Address';
    document.getElementById('ipaddr').innerHTML += ipAddress;

    var macAddr = '@MacAddress';
    document.getElementById('macaddr').innerHTML += macAddr;

    var userName = '@UserName';
    document.getElementById('user').innerHTML += userName;

    var serialNo = '@SerialNo';
    document.getElementById('serial').innerHTML += serialNo;

    var makeModel = '@MakeMod';
    document.getElementById('makemod').innerHTML += makeModel;

    var biosPass = '@BiosPass';
    document.getElementById('biospass').innerHTML += biosPass;

    var biosHard = '@BiosHard';
    document.getElementById('bioshard').innerHTML += biosHard;

      var cardReader = '@CardReader';
    document.getElementById('cardreader').innerHTML += cardReader;

    var wirelessNW = '@WirelessNW';
    document.getElementById('wirelessnw').innerHTML += wirelessNW;

    var multiNW = '@MultipleNW';
    document.getElementById('multiplenw').innerHTML += multiNW;

    var multiBoot = '@MultiBooting';
    document.getElementById('multiboot').innerHTML += multiBoot;

      var wakeonLan = '@WakeOnLan';
    document.getElementById('wakeonlan').innerHTML += wakeonLan;

    var chassis = '@Chassis';
    document.getElementById('chassis').innerHTML += chassis;

    var biosVersion = '@BiosVersion';
    document.getElementById('biosver').innerHTML += biosVersion;

    var password = '@Password';
    document.getElementById('winpass').innerHTML += password;

    var screenSaver = '@ScreenPass';
    document.getElementById('screensaverpass').innerHTML += screenSaver;

    var welcomeScreen = '@WelcomeScreen';
    document.getElementById('welcomescr').innerHTML += welcomeScreen;

    var lanCards = '@LanCards';
    document.getElementById('nolan').innerHTML += lanCards;

    var ipv6 = '@IPV6';
    document.getElementById('ipv6').innerHTML += ipv6;

    var instDate = '@InstDate';
    document.getElementById('osdate').innerHTML += instDate;

    var servicePack = '@ServicePack';
    document.getElementById('ospack').innerHTML += servicePack;

    var patches = '@Patches';
    document.getElementById('nopatches').innerHTML += patches;

    var lastUpdate = '@LastUpdate';
    document.getElementById('lastupdate').innerHTML += lastUpdate;

    var pirated = '@Pirated';
    document.getElementById('pirated').innerHTML += pirated;

    var antivirusInst = '@AntivirusInst';
    document.getElementById('avins').innerHTML += antivirusInst;

    var antivirus = '@Antivirus';
    document.getElementById('nameav').innerHTML += antivirus;

    var antivirusUpdate = '@AntivirusUpdate';
    document.getElementById('avupd').innerHTML += antivirusUpdate;

      var malware = '@Malware';
    document.getElementById('malware').innerHTML += malware;

    var internet = '@Internet';
    document.getElementById('internet').innerHTML += chassis;

    var activeDir = '@ActiveDir';
    document.getElementById('active').innerHTML += activeDir;

    var sccm = '@SCCM';
    document.getElementById('sccm').innerHTML += sccm;

      var firewall = '@Firewall';
    document.getElementById('firewall').innerHTML += firewall;

    var firewallConfig = '@FirewallConfig';
    document.getElementById('firecong').innerHTML += firewallConfig;

    var encryption = '@Encryption';
    document.getElementById('encrypt').innerHTML += encryption;

    var folder = '@Folder';
    document.getElementById('folder').innerHTML += folder;

     var xdefault = '@Default';
    document.getElementById('default').innerHTML += xdefault;


</script>







